@model Product
@{
    ViewData["Title"] = "Contact Fruit Shop";
    Product product = new Product();
    product = (Product)ViewData["city"];

}
<h1>@ViewData["Title"]</h1>
<p>Dear valued customer we will be happy to contact with you and serve you ASAP, <br />thro Fruit Shop email.</p>
<a href="mailto:abdulelahang@gmail.com">Mail to Fruit Shop</a>
<br />
<br />